<!DOCTYPE html>
<html>
  <head>
    <title>Lmzdx2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<p>以下的这段废话来于app/view/layouts/application.html.erb</p>
	<h1><mark>注意:</mark>这里的内容是lmzdx.com上课程代码的布署演示网站</h1>

	<p>有关这个网站的初衷在这里有介绍，<mark>切记不要把任何私人信息放在这个网站！(包括但不限于Email,手机号码等等，丢了别来找栋哥，我不主动，不拒绝，不负责！)</mark><a href="https://lmzdx.com/2018/08/30/lmzdx-net%e4%b8%8a%e6%bc%94%e7%a4%ba%e4%bb%a3%e7%a0%81%e7%9a%84%e4%bb%8b%e7%bb%8d/" target="blank">lmzdx.net网站的介绍</a>
	<p>来于app/view/layouts/application.html.erb废话结束,下面是正式的内容。</p>
	<br />
	<br />
	<br />

    <%= yield %>
	
  </body>
</html>
