<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header class="navbar navbar-expand-sm ">
		<div class="container">
			<%= link_to "绿帽子大学", 'http://lmzdx.net', id: "logo" %>
			<nav>
				<ul class="nav navbar-nav mr-auto">
					<li><%= link_to "主页", '#'%></li> | 
					<li><%= link_to "介绍", '#'%></li> |
					<li><%= link_to "注册", new_user_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<br />
<div class="container">
	<div class="center jumbotron">
		<h2>
			这里布署的是我的<%= link_to "编程视频课", "http://study.163.com/course/courseMain.htm?courseId=1005687008&share=2&shareId=1019590015" %>里面的代码</h2>
			<h2>这个网站会随着视频逐渐进化</h2>
			<h2>最终会做出Twitter网站的功能和样子</h2>
			<h2>虽然她现在还很弱小，但是，总有一天会长大的</h2>
			<h2>在我的视频里，我会解释每一行代码的原理</h2>
	</div>
	<% flash.each do |message_type, message| %>
	  <div class="alert alert-<%= message_type %>"><%= message %>
	<% end %>
    <%= yield %>
</div>
	
  </body>
</html>
